body {
    background-color: #f2f2f2;
    background-image: linear-gradient( #c0341157, #986353a2);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  h1, h2{
    color: #333;
    text-align: center;
    top: 40px;
    left: 50%;
    background-color: #fff;
    max-width: 400px;
    margin: 1rem auto;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  h1{
    max-width: 100%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  form {
    margin: 20px auto;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  button[type="submit"],
  button {
    background-color:#c10f18;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  button[type="submit"]:hover,
  button:hover {
    background-color: black;
  }

  #logout-button{
    background-color:#c10f18;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
    height: 5000;
  }

  #logout-button:hover {
    background-color: black;
  }
  
  .btn-danger {
    background-color: #f44336;
  }
  
  .btn-sm {
    font-size: 12px;
    padding: 4px 8px;
    margin: 0;
  }
  
  /* Styles for index.html */
  #intro-section{
    position: relative;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
  }

  .image-class {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Waiting for the Sunrise', cursive;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin-bottom: 16px;
  }
  
  .login-form button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
  
  /* Styles for admin.html */
  .admin-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .admin-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .admin-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .admin-form input[type="text"],
  .admin-form input[type="password"] {
    margin-bottom: 16px;
  }
  
  .admin-form button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
  
  .admin-form form {
    margin: 0 auto;
    max-width: 400px;
  }
  
  .button-wrapper {
  text-align: center;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c10f18;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button-link:hover {
  background-color: black;
}

.credentials-example {
  position: relative;
  width: 300px;
  padding: 30px;
  margin-top: 20px;
  margin-left: 50px;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', monospace;
  line-height: 1.6;
  transform: rotate(-9deg);
}

.credentials-example:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 280px;
  height: 8px;
  border-top: 1px dashed #c1c1c1;
  border-bottom: 1px dashed #c1c1c1;
}

.credentials-example h4 {
  margin-top: 0;
}